div#nav {
  color: blue;
  background: green;
  font-family: Georgia, sans-serif;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 2px 2px 2px 2px;
  margin: 0px;
  float: left;
  font-size: 10px;
}

div#nav.h2 {
  border-style: solid;
}

div#content {
  text-align: center;
}

header {
  font-size: 72px;
  color: yellow;
  background-color: black;
  text-align: center;
}

footer {
  clear: both;
  text-align: center;
}