{% extends "base.html" %}

{% block title %}Minimax{% endblock %}

{% block content %}
<p>Here's the place you make a decision table.</p>

<label id="inputNumRowsLabel" style="display:none">Rows</label>
<br/>
<input id="inputNumRows" placeholder="Enter the number of rows" style="display:none"/>
<button id="inputNumRowsSubmit" type="submit" style="display:none">Submit</button>
<label id="inputNumCellsLabel" style="display:none">Cells</label>
<br/>
<input id="inputNumCells" placeholder="Enter the number of columns" style="display:none"/>
<button id="inputNumCellsSubmit" type="submit" style="display:none">Submit</button>

{% include 'js/minimax.js' %}
{% endblock %}