<div id="sidebar">
	<h2><a href="">Foreign Language</a></h2>
		<ul>
			<li><a href="">Spanish</a></li>
			<li><a href="">French</a></li>
			<li><a href="">German</a></li>
			<li><a href="">Italian</a></li>
			<li><a href="">Chinese (Mandarin)</a></li>
		</ul>
	<h2><a href="">Math and Computer Science</a></h2>
	<h2><a href="">Science</a></h2>
		<ul>
			<li><a href="">Biology</a></li>
			<li><a href="">Chemistry</a></li>
			<li><a href="">Physics</a></li>
			<li><a href="">General Science</a></li>
		</ul>
	<h2><a href="">Reading</a></h2>
	<h2><a href="">Special Education</a></h2>
	<h2><a href="">Social Studies</a></h2>
	<h2><a href="">Music and Arts</a></h2>
</div>
	